<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to My Angular App!</h1>
  <div class="form-container">
    <app-checkbox></app-checkbox>
    <app-datepicker></app-datepicker>
    <app-ifexample></app-ifexample>
  </div>
  <!-- <mat-card>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-form-field>
      <mat-label>Pick a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card> -->
    


</body>
</html>